<header class='nav-container'>
  <div class='nav-link'><a href="#welcome-view" id="welcome-link">Welcome</a></div>
  <div class='nav-link'><a href="#testimonials-view" id="testimonials-link">Testimonials</a></div>
  <div class='nav-link'><a href="#newsletter-view" id="newsletter-link">Newsletter</a></div>
  <div class='nav-link'><a href="#contact-view" id="contact-link">Contact</a></div>
  <div class='nav-link'><a ui-sref="post-testimonial" id="post-testimonial">Post Testimonial</a></div>
  <div class='nav-link'><a ui-sref="login-register" id="login-register">Login/Register</a></div>
</header>
