<div id='testimonials-view'>
  <div class="testimonials-view-container">
    <div class="testimonials-header-container">
      <p class="test-header-text">
        Testimonials
      </p>
    </div>

    <div class="test-content-container">
      <div class="testimonials-content-wrapper" ng-repeat="testimonial in testimonials">
        {{testimonial.testimonial}}<br>
        <p>-{{testimonial.firstname}} {{testimonial.lastname}}</p>
      </div>
    </div>

    <div class="test-anchor-wrapper">
      <a href="#newsletter-view" id="testimonials-anchor">
        <div class="testimonials-anchor"></div>
      </a>
    </div>
  </div>
</div>
