.nav-container {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
  background-color: #222222;
}

.nav-link a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 1.3em;
}

.nav-link a:hover {
  opacity: .7;
}
