#newsletter-view{
  height: 100vh;
}

.newsletter-view-container{
  left:0;
  background: linear-gradient(rgba(210,210,210,0.5), rgba(210,210,210,0.5)), url("../styles/images/chandelier-kitchen.jpeg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-text{
  font-size: 9em;
  color: #fff;
}

.anchor-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-top: -10%;
  z-index: 1;
}

.newsletter-anchor{
  height: 100px;
  width: 200px;
  background-color: white;
  -webkit-clip-path: polygon(50% 84%, 91% 57%, 91% 75%, 50% 100%, 9% 75%, 9% 57%);
  clip-path: polygon(50% 84%, 91% 57%, 91% 75%, 50% 100%, 9% 75%, 9% 57%);
}
