@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

#testimonials-view{
  height: 100vh;
}

.testimonials-view-container{
  left:0;
  background: linear-gradient(rgba(210,210,210,0.7), rgba(210,210,210,0.7)), url("../styles/images/succulent-table.jpeg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.testimonials-header-container {
  height: 18vh;
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 50px;
}

.test-header-text{
  font-size: 4em;
  color: #fff;
  float: right;
}

.main-content-container {
  height: 71vh;
  width: auto%;
  /*border: 1px solid black;*/
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  overflow-x: scroll;
  overflow-y: hidden;
}

.testimonials-content-wrapper {
  height: 67vh;
  width: 33%;
  /*font-size: 23px;*/
  font-size: 1.438em;
  /*border: 1px solid white;*/
  color: #191919;
  padding-left: 31px;
  padding-right: 31px;
  text-align: justify;
  display: table;
  table-layout: fixed;
}

.test-anchor-wrapper{
  height: 11vh;
  width: 100%;
  /*border: 1px solid black;*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  z-index: 1;
}

.testimonials-anchor{
  height: 100px;
  width: 200px;
  background-color: white;
  -webkit-clip-path: polygon(50% 84%, 91% 57%, 91% 75%, 50% 100%, 9% 75%, 9% 57%);
  clip-path: polygon(50% 84%, 91% 57%, 91% 75%, 50% 100%, 9% 75%, 9% 57%);
}
